# List

In [2]:
lst = ["mrunal",14,99]

In [3]:
lst

['mrunal', 14, 99]

In [4]:
lst.append("Mandhare")

In [5]:
lst

['mrunal', 14, 99, 'Mandhare']

In [8]:
lst.count(14)

1

In [12]:
lst.insert(2,"Rajeev")

In [13]:
lst

['mrunal', 14, 'Rajeev', 99, 'Mandhare']

In [14]:
lst.index(99)

3

In [18]:
lst.reverse()

In [19]:
lst

['mrunal', 14, 'Rajeev', 99, 'Mandhare']

In [20]:
lst.reverse()
print(lst)

['Mandhare', 99, 'Rajeev', 14, 'mrunal']

In [21]:
lst.pop(1)

99

In [22]:
lst

['Mandhare', 'Rajeev', 14, 'mrunal']

In [24]:
lst.remove(14)

In [25]:
lst

['Mandhare', 'Rajeev', 'mrunal']

# Dictionary

In [27]:
dit = {"Name":"Mrunal","Surname":"Mandhare","Age":21}

In [28]:
dit

{'Name': 'Mrunal', 'Surname': 'Mandhare', 'Age': 21}

In [29]:
dit.get('Name')

'Mrunal'

In [30]:
dit.items()

dict_items([('Name', 'Mrunal'), ('Surname', 'Mandhare'), ('Age', 21)])

In [31]:
dit.keys()

dict_keys(['Name', 'Surname', 'Age'])

In [36]:
dit.update({"City":"Pune"})
dit

{'Name': 'Mrunal', 'Surname': 'Mandhare', 'Age': 21, 'City': 'Pune'}

In [40]:
dit.popitem()
dit

{'Name': 'Mrunal', 'Surname': 'Mandhare'}

In [41]:
dit.copy()

{'Name': 'Mrunal', 'Surname': 'Mandhare'}

In [43]:
dit.setdefault("Age",21)
dit

{'Name': 'Mrunal', 'Surname': 'Mandhare', 'Age': 21}

# Sets

In [45]:
st = {"Mrunal",1,2,4,5,2, "Sharayu"}

In [46]:
st

{1, 2, 4, 5, 'Mrunal', 'Sharayu'}

In [47]:
st.add("Atharva")
st

{1, 2, 4, 5, 'Atharva', 'Mrunal', 'Sharayu'}

In [58]:
st1 = {2,"Mrunal",4}

{4, 5, 'A', 'Atharva', 'Mrunal', 'Sharayu', 'h', 's', 'u'}

In [56]:
st.pop()
st

{4, 5, 'A', 'Atharva', 'Mrunal', 'Sharayu', 'h', 's', 'u'}

False

In [60]:
st

{4, 5, 'A', 'Atharva', 'Mrunal', 'Sharayu', 'h', 's', 'u'}

In [63]:
st1 = { 4,"Atharva"}
st1

{4, 'Atharva'}

In [64]:
st1.issubset(st)

True

In [65]:
st1.isdisjoint(st)

False

In [68]:
st1.union(st)

{4, 5, 'A', 'Atharva', 'Mrunal', 'Sharayu', 'h', 's', 'u'}

# Tuple

In [70]:
tup  = ["Mrunal","Rajeev","Mandhare",5]

In [71]:
tup

['Mrunal', 'Rajeev', 'Mandhare', 5]

In [72]:
tup.append(4.5)
tup

['Mrunal', 'Rajeev', 'Mandhare', 5, 4.5]

In [73]:
tup.count("Mandhare")

1

In [76]:
tup.insert(2,"Rajeev")
tup

['Mrunal', 'Rajeev', 'Rajeev', 'Rajeev', 'Mandhare', 5, 4.5]

In [77]:
tup.count("Rajeev")

3

In [78]:
tup.index("Mandhare")

4

In [79]:
tup.pop()
tup

['Mrunal', 'Rajeev', 'Rajeev', 'Rajeev', 'Mandhare', 5]

In [81]:
tup.remove("Rajeev")
tup

['Mrunal', 'Rajeev', 'Rajeev', 'Mandhare', 5]

# Strings

In [1]:
a = "HELLO"

In [2]:
print(a)

HELLO

In [3]:
b = "Mrunal !"

In [4]:
print(b)

Mrunal !

In [8]:
c = a+b

In [6]:
print(c)

HELLOMrunal !

In [10]:
b.capitalize()

'Mrunal !'

In [12]:
c.center(10)

'HELLOMrunal !'

In [13]:
b.upper()

'MRUNAL !'

In [15]:
c.endswith("!")

True

In [16]:
c.title()

'Hellomrunal !'

In [20]:
c.count("Mrunal")

1

In [23]:
c.find("a")

9